html, body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100%;
    width: 100%;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    border: black 2px solid;
    padding: 2px 7px;
    border-radius: 10px;
    color: aliceblue;
    margin: 0;
    font-size: 24px;
    letter-spacing: 2px;
}
nav ul li{
    list-style: none;
    text-shadow: 2px 2px rgb(21, 41, 42);
}
nav ul{
    padding: 10px;
}

h1{
    color: rgb(21, 41, 42);
    text-shadow: 1px 2px aliceblue;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-around;
   
    
}
.container p{
    max-width: 600px;
    font-size: 24px ;
    color: rgb(9, 19, 19);
    padding: 10px;
    background-color: rgba(240, 255, 255, 0.092);
    text-align: center;
    margin: 0 10px;
}
@media screen and (max-width:900px){
    nav{
      display: flex;
      justify-content: space-around;
      margin: 0;
     }
     
  
  }