html,
body {
  font-family: "Felipa", cursive;
  box-sizing: border-box;
  background-color: rgb(36, 55, 88);
  border: rgba(251, 251, 251, 0.896) 2px solid;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}

.number {
  color: rgb(243, 3, 3);
  letter-spacing: -1px;
  font-size: 1.4rem;
  display: inline-block;
  transform: translate(-4px, -4px);
}
.firstLetter {
  color: rgb(216, 7, 7);
  font-size: 3.5rem;
  text-shadow: rgba(6, 15, 18, 0.89) -3px 4px;
}
.JW {
  color: red;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.nav-left a,
.nav-middle a,
.nav-right a,
.mobileNav a {
  // color: rgb(0, 0, 0);
  color: rgb(18, 19, 19);
  /* font-size: 1.5rem; */
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 4px 10px;
  border: rgba(13, 23, 41, 0.21) 3px solid;
  text-shadow: rgba(252, 128, 128, 0.896) 0.5px 1px;
  border-radius: 7px;
  box-shadow: 2px 2px 10px 2px rgba(3, 3, 20, 0.2);
}

.mobileNav a {
  margin: 10px;
}
.mobileNav {
  width: 210px;
  background-color: rgb(114, 168, 226);
  height: 78vh;
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 2;
  right: -215px;
  top: 30px;
  border: 2px solid white;
  border-radius: 20px;
  transition: transform 0.5s;
  text-align: center;
}

.openDrawer {
  transform: translateX(-246px);
}
.close {
  transform: translateX(190px);
}
.mobileNav .closeDrawer {
  color: rgb(198, 27, 27);
  border-radius: 50%;
  margin-left: 84px;
  width: 20px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 660px) {
  .hamburger {
    height: 30px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.144);
    padding: 4px;
    border-radius: 20px;
  }

  nav {
    justify-content: flex-end;
    margin: 0;
  }
  .nav-left,
  .nav-middle,
  .nav-right {
    display: none;
  }
  .mobileNav {
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
  }
}

nav a:hover {
  color: blue;
  text-shadow: none;
}

.bar1,
.bar2,
.bar3 {
  background-color: #ffffffd9;
  height: 2px;
  width: 30px;
  border-radius: 10px;
  margin: 3px;
}
article {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 1.5rem;
}

h1 {
  text-align: center;
  color: rgb(39, 18, 160);
  letter-spacing: 10px;
  text-shadow: rgba(251, 251, 251, 0.896) 1px 2px;
  margin: 68px 100px 40px 100px;
  padding: 15px 0;
  font-size: 4.5rem;
  border-bottom: 3px rgba(9, 84, 214, 0.275) solid;
}
h2 {
  font-size: 3rem;
  color: rgb(5, 117, 141);
  border-bottom: 3px rgba(146, 9, 214, 0.275) solid;
  text-shadow: -1px 2px 0px #0b0740;
  margin: 75px 285px 25px 285px;
  letter-spacing: 8px;
  padding-bottom: 10px;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 2.8rem;
    margin: 35px 7px 40px 7px;
    letter-spacing: 3px;
    padding: 0;
  }
  h2 {
    font-size: 1.5rem;
    margin: 48px 210px 15px 210px;
    letter-spacing: 5px;
  }
  .number {
    transform: translate(-2px, -4px);
  }
}

@media screen and (max-width: 700px) {
  h2 {
    margin-left: 72px;
    margin-right: 72px;
  }
  article {
    font-size: 1rem;
  }
}

.text-container {
  border: solid 5px rgba(21, 7, 228, 0.748);
  margin-left: auto;
  margin-right: auto;
  padding: 0px 18px;
  background-image: url(./background2.jpg);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}
.Cross {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 0 0 18px 0;
}
.Cross img {
  width: 100%;
  margin: 30px 0 0 0;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .text-container {
    padding: 8px;
  }
  .Cross {
    margin: 0;
  }
}

.paragraph-container {
  text-align: center;
  flex: 1;
  margin-top: 20px;
  max-width: 500px;
}

.paragraph {
  color: #07022d;
  font-size: 3rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 6px;
  line-height: 1.5em;
  font-weight: 800;
  text-shadow: rgb(245, 241, 241) 1px 1px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .paragraph {
    font-size: 2rem;
    letter-spacing: 2px;
    padding-top: 0;
    padding-right: 7px;
    padding-bottom: 0;
    padding-left: 7px;
  }
}

.book {
  color: rgb(31, 13, 127);
  font-size: 1.6rem;
  text-shadow: rgba(251, 251, 251, 0.896) 1px 2px;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-top: 10px;
}

.book::first-letter {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(216, 7, 7);
  text-shadow: rgba(6, 15, 18, 0.89) 2px 2px;
}
@media screen and (max-width: 786px) {
  p::first-letter {
    font-size: 3rem;
  }
  body {
    margin: 0 auto;
  }
  .book {
    letter-spacing: 0.06em;
  }
}

.verses {
  font-size: 1em;
  letter-spacing: 0.05em;
}

.version {
  font-size: 0.6em;
  font-weight: bold;
}

hr {
  border-bottom: 3px rgba(9, 84, 214, 0.24) solid;
  margin: 30px;
}
.grid {
  position: relative;
  width: 100%;
  height: 100vh;
}
.grid img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
img {
  height: 100%;
}

.animateBar1 {
  animation: fadeBar1 0.25s forwards;
}
.animateBar2 {
  animation: fadeBar2 0.5s forwards;
}
.animateBar3 {
  animation: fadeBar3 0.25s forwards;
}

@keyframes fadeBar1 {
  from {
    transform: scalex(1);
    opacity: 1;
  }
  to {
    transform: scalex(0);
    opacity: 0;
  }
}

@keyframes fadeBar2 {
  from {
    transform: scalex(1);
    opacity: 1;
  }
  to {
    transform: scalex(0);
    opacity: 0;
  }
}
@keyframes fadeBar3 {
  from {
    transform: scalex(1);
    opacity: 1;
  }
  to {
    transform: scalex(0);
    opacity: 0;
  }
}
