
html,
body {
  font-family: "Felipa", cursive;
  box-sizing: border-box;
  margin:10px 20px 10px 20px;
  background-color: rgb(36, 55, 88);
  border: rgba(251, 251, 251, 0.896) 2px solid;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  html,body {
    margin: 0;
  }
 
}

nav{
  display: flex;
  justify-content: space-between;
  
}


nav a{
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight:bold;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 0 20px;
  border: rgba(13, 23, 41, 0.21) 3px solid;
  text-shadow: rgba(247, 243, 243, 0.896) .5px 1px;
  border-radius: 7px;
  box-shadow: 2px 2px 10px 2px rgba(3, 3, 20, 0.2);
  margin: 5px;
  //background-color: aqua;

}
@media screen and (max-width:900px){
  nav{
    display: flex;
    justify-content: center;
   }
   nav a{
    padding: 3px 5px;
    font-size: 1.3rem;
    margin: 0;
   }

}
nav ul{
  padding: 0;
  display: flex;
  text-align: center;
}
nav ul li{
  list-style: none;
}
  
nav a:hover{
  color: rgb(7, 7, 7);
  text-shadow: none;
}

h1 {
  text-align: center;
  color: rgb(39, 18, 160);
  letter-spacing: 14px;
  text-shadow: rgba(251, 251, 251, 0.896) 1px 2px;
  margin: 0px 100px 20px 100px;
  padding: 10px;
  font-size: 3.5rem;
  border-bottom: 3px rgba(9, 84, 214, 0.275) solid;
  display: inline;
  // background-color: aquamarine;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 3.2rem;
    margin: 10px 20px 12px 20px;
    letter-spacing: 7px;
  }
  h2{
    margin: 0;
  }
 
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.3rem;
    letter-spacing: 2px;
    
  }
  
 
}


.text-container {
  border: solid 5px rgba(21, 7, 228, 0.748);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 40px;
   // background-color: brown;
   
}

@media screen and (max-width: 900px) {
  .text-container {
    padding: 8px;
  }
}

.paragraph-container {
  text-align: center;
  flex: 1;
     //background-color: bisque;
     margin-top: 20px;
}

.paragraph {
  color: rgb(7, 2, 45);
  font-size: 3rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 8px;
  line-height: 1.5em;
  font-weight: 800;
  text-shadow: rgb(245, 241, 241) 1px 1px;
  margin: 0;
  //  background-color: aqua;
}

@media screen and (max-width: 900px) {
  .paragraph {
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding-top: 0;
    padding-right: 7px;
    padding-bottom: 0;
    padding-left: 7px;
  }
}

p::first-letter {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(216, 7, 7);
  text-shadow: rgba(6, 15, 18, 0.89) 2px 2px;
}

@media screen and (max-width: 786px) {
  p::first-letter {
    font-size: 3.5rem;
  }
}

.book {
  color: rgb(31, 13, 127);
  font-size: 1.6rem;
  text-shadow: rgba(251, 251, 251, 0.896) 1px 2px;
  letter-spacing: .1em;
  font-weight: bold;
}

.book::first-letter {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(216, 7, 7);
  text-shadow: rgba(6, 15, 18, 0.89) 2px 2px;
}

.verses {
  font-size: 1em;
  letter-spacing: .05em;
}

.version {
  font-size: 0.6em;
  font-weight: bold;
}

.button-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  // background-color: rgba(49, 136, 136, 0.627);
}


hr{
  border-bottom: 3px rgba(9, 84, 214, 0.24) solid;
  margin: 30px 100px;
 
}
.newlan{
  hr{
    font-size: 10rem; }
}