body,html{
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh ;
    display: flex;
    flex-direction: column;
    
}
h1{
    text-align: center;
    color: rgb(253, 253, 253);
    background-color: rgba(0, 0, 0, 0.549);
    display: inline;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 10px;
}
nav{
    display: flex;
    justify-content: flex-end;
    //margin-right: 50px;
}
nav a{
    text-decoration: none;
    border: black 2px solid;
    padding: 4px 7px;
    border-radius: 10px;
    color: rgb(253, 253, 253);
    margin: 0;
    font-size: 1rem;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.366);
}
nav ul li{
    list-style: none;
    text-shadow: 2px 2px rgb(21, 41, 42);
}
nav ul{
    padding: 10px;
}
@media screen and (max-width:500px){
    h1{
        font-size: 1.4rem;
    }
    
}