@import url("https://fonts.googleapis.com/css2?family=Felipa&display=swap");

html,
body {
  font-family: "Felipa", cursive;
  box-sizing: border-box;
  // margin: auto;
  margin:10px 6px 10px 6px;
  background-color: rgb(36, 55, 88);
  border: rgba(251, 251, 251, 0.896) 2px solid;
  border-radius: 15%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  background-size: cover;
  background-repeat: no-repeat;
 

}

h1 {
  text-align: center;
  color: rgb(9, 84, 214);
  letter-spacing: 15px;
  text-shadow: rgba(251, 251, 251, 0.896) 1px 2px;
  margin: 15px;
  font-size: 3rem;

  // background-color: aquamarine;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 5px;
  }
}

.text-container {
  //background-color: rgba(67, 146, 146, 0.419);
  border: solid 5px rgba(21, 7, 228, 0.748);
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
  // min-height: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 15%;
  padding: 20px;
  // background-color: brown;
}

@media screen and (max-width: 500px) {
  .text-container {
    padding: 0;
  }
}

.paragraph-container {
  text-align: center;
  flex: 1;
  //   background-color: bisque;
}

.paragraph {
  color: rgb(19, 6, 120);
  font-size: 3rem;
  padding: 20px;
  letter-spacing: 7px;
  line-height: 1.8em;
  font-weight: 800;
  text-shadow: rgb(245, 241, 241) 1px 1px;
  margin: 0;
  //  background-color: aqua;
}

@media screen and (max-width: 500px) {
  .paragraph {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
}

p::first-letter {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(216, 7, 7);
  text-shadow: rgba(6, 15, 18, 0.89) 2px 2px;
}

@media screen and (max-width: 500px) {
  p::first-letter {
    font-size: 3.5rem;
  }
}

.book {
  color: rgb(19, 6, 120);
  font-size: 2rem;
  text-shadow: rgb(245, 241, 241) 1px 1px;
}

.book::first-letter {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(216, 7, 7);
  text-shadow: rgba(6, 15, 18, 0.89) 2px 2px;
}

.verses {
  font-size: 1em;
}

.version {
  font-size: 0.5em;
  font-weight: bold;
}

.button-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  // background-color: rgba(49, 136, 136, 0.627);
}

.fb-btn {
  background-color: rgba(48, 22, 195, 0.5);
  color: antiquewhite;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10%;
  font-size: 1rem;
}

.new-verse-btn {
  background-color: rgba(48, 22, 195, 0.5);
  color: antiquewhite;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10%;
  font-size: 1rem;
}