@import url("https://fonts.googleapis.com/css2?family=Felipa&display=swap");

html,
body {
  font-family: "Felipa", cursive;
  box-sizing: border-box;
  margin:10px 20px 10px 20px;
  background-color: rgb(36, 55, 88);
  border: rgba(251, 251, 251, 0.896) 2px solid;
  border-radius: 25%;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  html,body {
    border-radius: 15%;
    margin: 0;
  }
 
}


h1 {
  text-align: center;
  color: rgb(39, 18, 160);
  letter-spacing: 17px;
  text-shadow: rgba(251, 251, 251, 0.896) 1px 2px;
  margin: 30px 100px 20px 100px;
  padding: 10px;
  font-size: 3.5rem;
  border-bottom: 3px rgba(9, 84, 214, 0.275) solid;
  display: inline;
  // background-color: aquamarine;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 3.2rem;
    margin: 25px 20px 12px 20px;
    letter-spacing: 7px;
  }
  h2{
    margin: 0;
  }
 
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.6rem;
    
  }
  
 
}


.text-container {
  border: solid 5px rgba(21, 7, 228, 0.748);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  border-radius: 25%;
  position: relative;
   // background-color: brown;
    padding: 0px 40px;

}

@media screen and (max-width: 900px) {
  .text-container {
    padding: 8px;
    border-radius: 15%;
  }
}

.paragraph-container {
  text-align: center;
  flex: 1;
     //background-color: bisque;
     margin-top: 20px;
}

.paragraph {
  color: rgb(19,6,120);
  font-size: 3rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 8px;
  line-height: 1.5em;
  font-weight: 800;
  text-shadow: rgb(245, 241, 241) 1px 1px;
  margin: 0;
  //  background-color: aqua;
}

@media screen and (max-width: 900px) {
  .paragraph {
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding-top: 0;
    padding-right: 7px;
    padding-bottom: 0;
    padding-left: 7px;
  }
}

p::first-letter {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(216, 7, 7);
  text-shadow: rgba(6, 15, 18, 0.89) 2px 2px;
}

@media screen and (max-width: 786px) {
  p::first-letter {
    font-size: 3.5rem;
  }
}

.book {
  color: rgb(31, 13, 127);
  font-size: 1.8rem;
  //text-shadow: rgb(245, 241, 241) 1px 1px;
  text-shadow: rgba(251, 251, 251, 0.896) 1px 2px;
  letter-spacing: .1em;
  font-weight: bold;
}

.book::first-letter {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(216, 7, 7);
  text-shadow: rgba(6, 15, 18, 0.89) 2px 2px;
}

.verses {
  font-size: 1em;
  letter-spacing: .05em;
}

.version {
  font-size: 0.6em;
  font-weight: bold;
}

.button-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  // background-color: rgba(49, 136, 136, 0.627);
}

.fb-btn {
  background-color: rgba(48, 22, 195, 0.5);
  color: antiquewhite;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10%;
  font-size: 1rem;
}

.new-verse-btn {
  background-color: rgba(48, 22, 195, 0.5);
  color: antiquewhite;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10%;
  font-size: 1rem;
}
h2{
  border-bottom: 3px rgba(9, 84, 214, 0.24) solid;
  margin: 30px 100px;
 
}